<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>


  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <basicHttpBinding>
        <binding allowCookies="true" maxReceivedMessageSize="2000000" maxBufferSize="2000000" maxBufferPoolSize="2000000">
          <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000"/>
        </binding>
        <binding name="BasicHttpBinding_ICategoryWCFService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="500000000" />
        <binding name="BasicHttpBinding_IAnnouncementWCFService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="500000000" />
        <binding name="BasicHttpBinding_IEventWCFService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="500000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.60.208:8055/SocialEvents/WCF/CategoryServices/CategoryWCFService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoryWCFService" contract="CategoryWCFServiceRef.ICategoryWCFService" name="BasicHttpBinding_ICategoryWCFService"/>
      <endpoint address="http://10.10.60.208:8055/SocialEvents/WCF/AnnouncementServices/AnnouncementWCFService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnnouncementWCFService" contract="AnnouncementWCFServiceRef.IAnnouncementWCFService" name="BasicHttpBinding_IAnnouncementWCFService"/>
      <endpoint address="http://10.10.60.208:8055/SocialEvents/WCF/EventServices/EventWCFService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventWCFService" contract="EventWCFServiceRef.IEventWCFService" name="BasicHttpBinding_IEventWCFService"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  
  
</configuration>