.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left: 2px;
}

.c-sp-preview {
    width: 25px;
    height: 20px;
    border: solid 1px #222;
    margin: auto;
    
    z-index: 0;
}

#header nav ul li a.change_lang {
    color: #ffffff;
    padding: 6px 12px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    margin-top:5px;
}

 .change_lang:hover {
        background-color: #333;
}


#DataTables_Table_0_info {
    float: left;
}