@model SocialEvents.Model.EventImage
@if (Model != null)
{
        <div class="col-sm-3 col-md-2">
            <div class="thumbnail">
                <img src="data:image/png;base64,@Model.FileBase64" class="img-responsive form-control"   alt="@Model.Name" />
                <div class="caption">
                    <h5>@Model.Name</h5>
                </div>
            </div>
        </div>
  
}

