@model IEnumerable<object>

@{
    ViewBag.Title = "SocialEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <br />
        <br />
       Welcome ! :>
    </div>
</div>