<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAnnouncementWCFService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="500000000" />
        <binding name="BasicHttpBinding_ICategoryWCFService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="500000000"/>
        <binding name="BasicHttpBinding_IEventWCFService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="500000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.60.208:8055/SocialEvents/DMZ/AnnouncementServices/AnnouncementDmzService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnnouncementWCFService" contract="AnnouncementDmzServiceRef.IAnnouncementWCFService" name="BasicHttpBinding_IAnnouncementWCFService" />
      <endpoint address="http://10.10.60.208:8055/SocialEvents/DMZ/CategoryServices/CategoryDmzService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoryWCFService" contract="CategoryDmzServiceRef.ICategoryWCFService" name="BasicHttpBinding_ICategoryWCFService" />
      <endpoint address="http://10.10.60.208:8055/SocialEvents/DMZ/EventServices/EventDmzService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventWCFService" contract="EventDmzServiceRef.IEventWCFService" name="BasicHttpBinding_IEventWCFService" />
    </client>
  </system.serviceModel>
</configuration>
