<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSESRCJGeneralSoapBinding" />
                <binding name="BasicHttpBinding_ISacabService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_SafeerService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.10.60.200:8080/edms/services/WSESRCJGeneral" binding="basicHttpBinding" bindingConfiguration="WSESRCJGeneralSoapBinding" contract="EdmsServiceRef.WSESRCJGeneral" name="WSESRCJGeneral" />
            <endpoint address="http://10.10.60.208:8055/SacabWcfService/SacabService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISacabService" contract="SacabServiceRef.ISacabService" name="BasicHttpBinding_ISacabService" />
            <endpoint address="http://rcjveswebdev.jubail.rc.gov:2222/safeer.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_SafeerService" contract="SafeerServiceRef.SafeerService" name="WSHttpBinding_SafeerService">
                <identity>
                    <userPrincipalName value="moss_dev@JUBAIL.RC.GOV" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
